*{
			box-sizing: border-box;
		}
		html{
			font-family: 'Epilogue', sans-serif;
		}	
		h1{
			text-align: center;
		}

		
		
		.col-4-2{
			width: 100%;
		}
		.col-4-12{
			width: 100%;
			clear: both;
			padding left: 4px;
		}
		#subbox1{
			border: 1px solid black;
			float: right;
			padding: 2px;
			width: 25%;
			text-align: center;
			font-weight: bold;
			background-color: rgb(255, 102, 255);

		}
		#subbox2{
			border: 1px solid black;
			float: right;
			padding: 2px;
			width: 25%;
			text-align: center;
			background-color: rgb(255, 77, 77);
			font-weight: bold;
			color: white;
		

		}
		#subbox3{
			border: 1px solid black;
			float: right;
			padding: 2px;
			width: 25%;
			text-align: center;
			font-weight: bold;
			background-color: rgb(255, 255, 102);

		}
		.col-4-12 div {
			padding:20px;
		}

		@media (min-width:992px){
			.col-4{
			width: 30%;
			float: left;
			border: 2px solid black;
			margin: 10px;
			align-items: center;
			background-color:rgb(153, 153, 102);
		}
		
	}
		@media (min-width: 768px) and (max-width: 991px){
			
			.col-6,.col-12{
				float: left;
				border: 2px solid black;
				margin: 12px;
				background-color:rgb(153, 153, 102);
			}
			.col-12{width: 95%;}
			.col-6{width:45%;}
			
	}

		@media (max-width: 767px){
			.col-12{
			width: 95%;
			border: 2px solid black;
			margin: 10px;
			align-items: center;
			background-color:rgb(153, 153, 102);

		}

